* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.section {
  margin:3.2rem;
  padding: 1em;
  border: 1px solid black;
  font-size: 1.8rem;
  display:grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
}

.section p {
  margin: 10px;
}

/* .edit,
.submit {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-auto-rows: auto;
} */

.edit p {
  display: grid;
  grid-template-columns: 1fr 3fr;

}

.edit p label,
.submit p label {
  justify-self: end;
  margin: 10px;
}

.submit p {
  display:grid;
  grid-template-columns: 1fr 3fr;
  align-items:center;
}

